In [22]:
import pandas as pd
import import_ipynb
df = pd.read_csv(r"C:\Users\zaiid\Downloads\all_data (2).csv")
df

C:\Users\zaiid\AppData\Local\Temp\ipykernel_30904\3022796274.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\zaiid\Downloads\all_data (2).csv")

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449826,449826,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449827,449827,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449828,449828,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449829,449829,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449830,449830,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN

In [2]:
df.isnull().sum()

Unnamed: 0               0
client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
clnt_tenure_yr         115
clnt_tenure_mnth       115
clnt_age               127
gendr                  115
num_accts              115
bal                    115
calls_6_mnth           115
logons_6_mnth          115
Variation           128522
dtype: int64

In [24]:
from Sergej_functions import *

ModuleNotFoundError: No module named 'Sergej_functions'

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,client_years,clnt_tenure_mnth,client_age,gender,num_accounts,balance,calls_6_months,logins_6,Variation
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449826,449826,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449827,449827,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449828,449828,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449829,449829,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449830,449830,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,client_years,clnt_tenure_mnth,client_age,gender,num_accounts,balance,calls_6_months,logins_6,Variation
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449826,449826,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449827,449827,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449828,449828,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449829,449829,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN
449830,449830,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0,NaN